body{
    text-align: center;
}


#result {
    background-color: #eeeeee;
    height: 50px;
    width: 156px;
    margin: 2px;
    border-radius: .3rem;
    
    padding-top: 12.5px;
    font-weight: bold;
    font-size: 20px;
}
#style {
    height: 50px;
    width: 50px;
    margin: 2px;
}


